Repository Kllngii/ALittleSquare, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, logs, settings

.github/labeler.yml:

assets:
  - Assets/**/*

logs:
  - Logs/*
settings:
  - ProjectSettings/**/*

Update label.yml
  .github/workflows/label.yml
Labels: none

Update README.md
  README.md
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Add files via upload
  badge-color.svg
Labels: none

Rename badge-color.svg to mdImages/itchiobadge.svg
  badge-color.svg
  mdImages/itchiobadge.svg
Labels: none

Update README.md
  README.md
Labels: none

Update info.yml
  .github/workflows/info.yml
Labels: none

Update README.md
  README.md
Labels: none

Add files via upload
  mdImages/Discord.svg
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Bugfix in Level 9
  Assets/Scenes/Level/Level9.unity
Labels: assets

Neuer ImageChanger
  Assets/Scenes/Level/Level11.unity
  Assets/Scripts/ImageChanger.cs
Labels: assets

Create .gitattribues
  .gitattribues
Labels: none

Update .gitattribues
  .gitattribues
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

added a Github vector graphic
  mdImages/github.svg
Labels: none

switched to stable Unity-Builder version
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Pause-Menü hinzugefügt, vorläufig nur 3 Level
  Assets/A litte square.inputactions
  Assets/Prefabs.meta
  Assets/Prefabs/Background1.prefab
  Assets/Prefabs/Background1.prefab.meta
  Assets/Prefabs/Door.prefab
  Assets/Prefabs/Door.prefab.meta
  Assets/Prefabs/GUI.prefab
  Assets/Prefabs/GUI.prefab.meta
  Assets/Prefabs/Light.prefab
  Assets/Prefabs/Light.prefab.meta
  Assets/Prefabs/Main Camera.prefab
  Assets/Prefabs/Main Camera.prefab.meta
  Assets/Prefabs/Player.prefab
  Assets/Prefabs/Player.prefab.meta
  Assets/Scenes/Level/Level1.unity
  Assets/Scenes/Level/Level2.unity
  Assets/Scenes/Level/Level2Settings.lighting
  Assets/Scenes/Level/Level2Settings.lighting.meta
  Assets/Scenes/Level/Level3.unity
  Assets/Scenes/Level/Level3Settings.lighting
  Assets/Scenes/Level/Level3Settings.lighting.meta
  Assets/Scenes/Level/TestLevel.unity
  Assets/Scenes/Level/TestLevel.unity.meta
  Assets/Scripts/CharacterController.cs
  Assets/Scripts/PauseMenu.cs
  Assets/Scripts/PauseMenu.cs.meta
  Assets/Scripts/SettingsMenu.cs
  Assets/Scripts/SettingsMenu.cs.meta
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectVersion.txt
  ProjectSettings/VersionControlSettings.asset
  UserSettings/EditorUserSettings.asset
Labels: assets, settings

Levelspace Prefab, um eine Deadzone um ein Level herum zu definieren.
  Assets/Prefabs/GUI.prefab
  Assets/Prefabs/Levelspace.prefab
  Assets/Prefabs/Levelspace.prefab.meta
  Assets/Scenes/Level/Level1.unity
  ProjectSettings/TagManager.asset
Labels: assets, settings

Upgrade auf Unity 2020.1
  .github/workflows/build.yml
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none
